/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea
.project
_ide_helper.php
composer.phar
error.log
.vagrant
.php_cs.cache
.vscode
lumen_ide_helper.php
storage/api-docs
storage/laravels.*
*.log

/nbproject
